" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


let mapleader=" "
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8
set colorcolumn=80


" Do incremental searching.
set incsearch
set hlsearch=false
set ignorecase=true

" Don't use Ex mode, use Q for formatting.
map Q gq

" MY configuration changes

set relativenumber
set number


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)
"" Map <leader>d to start debug
map <leader>d <Action>(Debug)
nmap <leader>e <Action>(ActivateTerminalToolWindow)
" for clreateing a new directory
" for moving int project explorer
nmap <leader>l <Action>(Tree-selectPrev)
nmap <C-n> <Action>(NewElement) e

" goto file

nmap <leader>sf <Action>(GotoFile)
nmap <leader><leader> <Action>(GotoFile)
nmap <leader>/ <Action>(FindInPath)


nmap <eader>h <Action>(HighlightUsagesInFile)
nmap <leader> <Action>(Tree-selectNext)
nmap
"" Map \b to toggle the breakpoint on the current line